#district-picker .fieldset-box {
    line-height: 1.5;
    margin: 3px 10px;
}

#district-picker .fieldset-label {
    color: white;
    font-weight: bold;
    margin: 0 10px 0 0;
}

#district-picker .checkbox {
    margin: 0 2px 0 5px;
}

#district-picker .checkbox label {
    margin: 0 2px 0 0;
}